.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-collapse: collapse;
}

.grid-top-label {
    border: 1px solid gray;
    text-align: center;
}

.grid-label {
    border-top: 1px solid gray;
    text-align: right;
}

.grid-item {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.grid-item-placeholding {
    min-height: 10px;
}

.grid-top-border {
    border-top: 1px solid gray;
}

.grid-run {
    position: relative;
    background-color: #659fd1;
    color: #FFFFFF;
    border-radius: 10px;
    font-size: 12px;
    border: hidden;
}

    .grid-run::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        border-right: 1px solid gray;
        border-left: 1px solid gray;
    }


